.DS_Store
node_modules

/dist
/stream-overlay-*
/config.json
/app/static/bootstrap-*.min.css

/app/build
/app/.svelte-kit
/app/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
